<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link">GitHub</p>
                            <p class="brand-link">Contact Us</p>
                            <p class="brand-link">About Us</p>
                        </div>
                        <!-- Button Component is detected here -->
                        <button class="button-primary-style">Sign Up</button>
                    </div>
                </div>
                <div class="flex-box-container-4">
                    <div class="request-form-container-4">
                      <p class="heading-title-4">Додання заявки</p>
                      <div class="missing-person-info-block-4">
                        <div class="person-description-container-4">
                          <div class="vertical-centered-column-container-4">
                            <div class="content-wrapper-4">
                              <!-- Input Component is detected here -->
                              <input placeholder="П.І.Б" type="text" class="input-container-with-border-radius-and-text-4 input-style-f62::placeholder" />
                            </div>
                            <div class="vertical-spacing-container-4">
                              <!-- Input Component is detected here -->
                              <input placeholder="Стать" type="text" class="input-container-with-border-radius-and-text-4 input-style-f62::placeholder" />
                            </div>
                          </div>
                          <div class="vertical-centered-column-container1-4">
                            <div class="content-wrapper-4">
                              <!-- Input Component is detected here -->
                              <input placeholder="Статус" type="text" class="input-container-with-border-radius-and-text-4 input-style-f62::placeholder" />
                            </div>
                            <div class="vertical-spacing-container-4">
                              <!-- Input Component is detected here -->
                              <input placeholder="Місце проживання" type="text" class="input-container-with-border-radius-and-text-4 input-style-f62::placeholder" />
                            </div>
                          </div>
                        </div>
                        <p class="profile-description-box-4">Опис зниклої особи...</p>
                        <!-- Button Component is detected here -->
                        <button class="add-person-button-4">Додати</button>
                      </div>
                    </div>
                    <div alt="Image" class="card-container-with-image-confirmation-button-4">
                      <div class="confirm-button-container1-4">
                        <div class="confirm-button-container-4">
                          <!-- Button Component is detected here -->
                          <button class="confirm-button-style-4">Підтвердити</button>
                        </div>
                        <div class="vertical-image-container-4">
                          <img src="assets/img_c6365a9c_2e38f9.svg" alt="a brown circle with four white arrows pointing in opposite directions." class="image-container-4" />
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>