<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link">GitHub</p>
                            <p class="brand-link">Contact Us</p>
                            <p class="brand-link">About Us</p>
                        </div>
                        <!-- Button Component is detected here -->
                        <button class="button-primary-style">Sign Up</button>
                    </div>
                </div>
                

                <div class="contact-section">
                    <div class="contact-form-container">
                      <p class="contact-title-text-style">Зв&apos;яжіться з нами</p>
                      <div class="message-container1">
                        <div class="message-container">
                          <div class="hierarchical-container">
                            <!-- Input Component is detected here -->
                            <input placeholder="Ім’я" type="text" class="input-container-with-border-radius-and-text-formatting input-style-f62::placeholder" />
                          </div>
                          <div class="flex-grow-shrink-basis">
                            <!-- Input Component is detected here -->
                            <input placeholder="Прізвище" type="text" class="input-container-with-border-radius-and-text-formatting input-style-f62::placeholder" />
                          </div>
                        </div>
                        <div class="vertical-margin-container">
                          <!-- Input Component is detected here -->
                          <input placeholder="your@mail.com" type="text" class="input-container-with-border-radius-and-text-formatting input-style-f62::placeholder" />
                        </div>
                        <p class="message-box">Ваше повідомлення...</p>
                        <!-- Button Component is detected here -->
                        <button class="send-button-style">Відправити</button>
                      </div>
                    </div>
                  </div>
                  <div class="address-section1">
                    <div class="flex-row-container">
                      <div class="svg-container">
                        <svg viewBox="0 0 24 24" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <defs>
                            <clipPath id="clip2_30_90" xmlns="http://www.w3.org/2000/svg">
                              <rect width="24" height="24" fill="white" transform="translate(0, 0)" />
                            </clipPath>
                          </defs>
                          <g id="location-pin-svgrepo-com 1" data-node-id="35:10" clip-path="url(#clip2_30_90)" xmlns="http://www.w3.org/2000/svg">
                            <g id="Group_2" data-node-id="35:11">
                              <path id="Vector_3" data-node-id="35:12" d="M12,0c-4.935,0 -8.95,4.016 -8.95,8.953c0,7.356 8.059,14.538 8.402,14.84c0.157,0.138 0.352,0.207 0.548,0.207c0.196,0 0.391,-0.069 0.548,-0.207c0.343,-0.302 8.402,-7.484 8.402,-14.84c0,-4.937 -4.015,-8.953 -8.95,-8.953zM12,22.035c-1.782,-1.726 -7.292,-7.517 -7.292,-13.082c0,-4.023 3.271,-7.296 7.292,-7.296c4.021,0 7.292,3.273 7.292,7.296c0,5.565 -5.51,11.356 -7.292,13.082z" fill="black" />
                              <path id="Vector_4" data-node-id="35:13" d="M12,4.782c-2.285,0 -4.143,1.871 -4.143,4.171c0,2.3 1.858,4.171 4.143,4.171c2.285,0 4.143,-1.871 4.143,-4.171c0,-2.3 -1.858,-4.171 -4.143,-4.171zM12,11.467c-1.371,0 -2.486,-1.128 -2.486,-2.514c0,-1.386 1.115,-2.513 2.486,-2.513c1.371,0 2.486,1.127 2.486,2.513c0,1.386 -1.115,2.514 -2.486,2.514z" fill="black" />
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p class="address-label">57 Fedkovycha Street, Lviv 79018</p>
                    </div>
                    <div class="address-section">
                      <div class="svg-container">
                        <svg viewBox="0 0 24 24" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <defs>
                            <clipPath id="clip1_30_90" xmlns="http://www.w3.org/2000/svg">
                              <rect width="22" height="22" fill="white" transform="translate(1, 1)" />
                            </clipPath>
                          </defs>
                          <g id="chat-svgrepo-com 1" data-node-id="36:134" clip-path="url(#clip1_30_90)" xmlns="http://www.w3.org/2000/svg">
                            <g id="Group" data-node-id="36:135">
                              <path id="Vector" data-node-id="36:136" d="M10.533,4.515c-5.256,0 -9.533,3.851 -9.533,8.585c0,1.65 0.52,3.247 1.506,4.63c-0.187,2.045 -0.682,3.561 -1.399,4.277c-0.111,0.112 -0.139,0.282 -0.068,0.423c0.062,0.126 0.19,0.203 0.328,0.203c0.017,0 0.034,-0.001 0.051,-0.003c0.128,-0.018 3.092,-0.445 5.25,-1.682c1.221,0.489 2.52,0.737 3.866,0.737c5.256,0 9.533,-3.851 9.533,-8.585c0,-4.734 -4.277,-8.585 -9.534,-8.585z" fill="black" />
                              <path id="Vector_2" data-node-id="36:137" d="M21.494,14.582c0.986,-1.383 1.506,-2.981 1.506,-4.63c0,-4.734 -4.276,-8.585 -9.533,-8.585c-3.024,0 -5.855,1.317 -7.636,3.454c1.41,-0.663 3.008,-1.039 4.702,-1.039c5.661,0 10.267,4.18 10.267,9.318c0,2.019 -0.713,3.888 -1.92,5.416c1.814,0.692 3.613,0.953 3.702,0.965c0.017,0.003 0.034,0.004 0.051,0.004c0.138,0 0.266,-0.077 0.328,-0.203c0.071,-0.141 0.043,-0.311 -0.068,-0.423c-0.717,-0.716 -1.212,-2.232 -1.399,-4.277z" fill="black" />
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="svg-container1">
                        <svg viewBox="0 0 24 24" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="gmail" data-node-id="36:123" xmlns="http://www.w3.org/2000/svg">
                            <g id="gmail_2" data-node-id="36:124">
                              <path id="Rectangle 18" data-node-id="36:125" d="M2.988,20.577h4.543v-15.283l-1.391,-0.891c-2.016,-1.291 -4.667,0.151 -4.667,2.539v2.017v10.109c0,0.833 0.678,1.509 1.515,1.509z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                              <path id="Rectangle 20" data-node-id="36:126" d="M1.473,6.942v2.017l6.058,3.88l4.543,2.91l4.543,-2.91l6.057,-3.88v-2.017c0,-2.388 -2.651,-3.83 -4.666,-2.539l-1.391,0.891l-4.543,2.91l-4.543,-2.91l-1.391,-0.891c-2.016,-1.291 -4.667,0.151 -4.667,2.539z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                              <path id="Rectangle 19" data-node-id="36:127" d="M16.617,20.577h4.543c0.836,0 1.514,-0.676 1.514,-1.509v-10.109v-2.017c0,-2.388 -2.651,-3.83 -4.666,-2.539l-1.391,0.891z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>



            </div>
        </div>
    </div>
</body>

</html>