<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link">GitHub</p>
                            <p class="brand-link">Contact Us</p>
                            <p class="brand-link">About Us</p>
                        </div>
                        <!-- Button Component is detected here -->
                        <button class="button-primary-style">Sign Up</button>
                    </div>
                </div>
                <div class="user-profile-card-5">
                    <img src="assets/img_425eca6_1ddcf6.svg" alt="a sign with an arrow pointing to the left on a white background." class="profile-image-container-5" />
                    <div class="user-profile-card1-5">
                      <p class="title-heading-bold-text-color-5">Заявка #001</p>
                      <p class="ruslan-name-text-style-5">Боярський Руслан Ігорович</p>
                      <div class="user-card-container-5">
                        <img src="assets/img_39_88_e0fed3.png" alt="Image" class="profile-image-container1-5" />
                        <div class="profile-card-5">
                          <div class="profile-card2-5">
                            <p class="birth-info-text-style-5">Дата народження</p>
                            <p class="birthday-info-paragraph-5">20.24.2003 (21)</p>
                            <div class="vertical-centered-box-5">
                              <p class="residence-location-text-style-5">Місце проживання</p>
                              <p class="residence-location-5">м.Львів</p>
                            </div>
                          </div>
                          <!-- Button Component is detected here -->
                          <button class="send-message-button-5">Повідомлення</button>
                        </div>
                        <div class="profile-card1-5">
                          <div class="profile-card2-5">
                            <p class="ukraine-headline-text-style-5">Стать</p>
                            <p class="ukraine-text-block-5">Чоловік</p>
                            <p class="status-label-5">Статус</p>
                            <p class="ukraine-text-block-5">Військовий</p>
                          </div>
                          <!-- Button Component is detected here -->
                          <button class="military-accept-button-5">Прийняти заявку</button>
                        </div>
                      </div>
                      <div class="message-container-5">
                        <div class="tattooed-message-container-5">
                          <p class="ukraine-message-style-5">На тілі мав безліч тату та шрам на голові, <br />в останнє був помічений приблизно у зазначеному місці на карті.<br /><br />Прошу повідомляти небайдужих людей будь яку доступну інформацію яка може допомогти в пошуках</p>
                        </div>
                      </div>
                    </div>
                    <div class="content-wrapper-5">
                      <div alt="Image" class="image-container-flex-box-5">
                        <img src="assets/img_c6e38e5f_ddf735.svg" alt="a brown circle with four white arrows pointing in opposite directions." class="image-container-5" />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>