<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link">GitHub</p>
                            <p class="brand-link">Contact Us</p>
                            <p class="brand-link">About Us</p>
                        </div>
                        <!-- Button Component is detected here -->
                        <button class="button-primary-style">Sign Up</button>
                    </div>
                </div>
                <div class="">
                  <div class="vertical-centered-box">
                    <div class="login-container">
                      <p class="login-title-text-style">Увійти</p>
                      <div class="login-section">
                        <div class="hierarchical-text-container">
                          <!-- Input Component is detected here -->
                          <input placeholder="Email" type="text" class="input-container-with-border-radius input-style-f62::placeholder" />
                        </div>
                        <div class="hierarchical-text-container">
                          <!-- Input Component is detected here -->
                          <input placeholder="Пароль" type="text" class="input-container-with-border-radius input-style-f62::placeholder" />
                        </div>
                        <!-- Button Component is detected here -->
                        <button class="login-button-styled">Увійти</button>
                        <p class="forgot-password-prompt"><span class="ukraine-text-heading">Забули</span><span> </span><span class="ukraine-bold-heading">пароль?</span><span></span></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>