<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='./js/main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><a href="./index.html"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></a></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link"><a href="https://github.com/Vatsonio/Divass_Help_Map/tree/main">GitHub</a></p>
                            <p class="brand-link"><a href="./feedback.html">Contact Us</a></p>
                            <p class="brand-link"><a href="./about.html">About Us</a></p>
                        </div>
                        <button class="button-primary-style"><a href="./register1.html" style="text-decoration: none; color: white;">Sign Up</a></button>
                    </div>
                </div>

                <div class="container-main">
                    <div class="flex-row-with-gap" style="padding-right: 0;">
                        <div class="full-page-map">
                            <div id="map" class="edit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2qeIf2N5-JvWuin9pXAANLFHfGHUQT9E&callback=initMap">
</script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="./js/map.js"></script>

</html>