<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link">GitHub</p>
                            <p class="brand-link">Contact Us</p>
                            <p class="brand-link">About Us</p>
                        </div>
                        <!-- Button Component is detected here -->
                        <button class="button-primary-style">Sign Up</button>
                    </div>
                </div>
                <div class="">
                    <div class="registration-form-container1">
                        <div class="registration-form-container">
                          <p class="registration-title-text-style">Registration</p>
                          <div class="flex-column-with-gap">
                            <div class="flexbox-container">
                              <!-- Input Component is detected here -->
                              <input placeholder="First name" type="text" class="elegant-input-style input-style-f62::placeholder" />
                            </div>
                            <div class="flexbox-container">
                              <!-- Input Component is detected here -->
                              <input placeholder="Last name" type="text" class="elegant-input-style input-style-f62::placeholder" />
                            </div>
                            <div class="flexbox-container">
                                <!-- <div class="select-button-container"> -->
                                  <select class="select-button-container">
                                    <option value="">Choose</option>
                                    <option value="volunteer">Volonteer</option>
                                    <option value="help_needed">Searcher</option>
                                  </select>
                                  
                                <!-- </div> -->
                              </div>
                              
                            <!-- Button Component is detected here -->
                            <button class="confirm-button-style">Confirm</button>
                            <p class="user-prompt-message"><span class="brand-message-text-style">If you already have an account </span><span class="brand-accent-text-color">sign in</span></p>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>