<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><a href="./index.html"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></a></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link"><a href="https://github.com/Vatsonio/Divass_Help_Map/tree/main">GitHub</a></p>
                            <p class="brand-link"><a href="./feedback.html">Contact Us</a></p>
                            <p class="brand-link"><a href="./about.html">About Us</a></p>
                        </div>
                        <button class="button-primary-style">Sign Up</button>
                    </div>
                </div>

                <div class="container-main">
                    <div class="registration-section-container-2">
                        <div class="registration-form-container-2">
                            <p class="registration-title-style-2">Реєстрація</p>
                            <div class="action-panel1-2">
                                <div class="flexbox-container-2">
                                    <input placeholder="Email" type="text" class="input-container-with-border-radius-and-text-formatting-2 input-style-f62::placeholder" />
                                </div>
                                <div class="flexbox-container-2">
                                    <input placeholder="Пароль" type="text" class="input-container-with-border-radius-and-text-formatting-2 input-style-f62::placeholder" />
                                </div>
                                <div class="flexbox-container-2">
                                    <!-- Input Component is detected here -->
                                    <input placeholder="Підтвердити пароль" type="text" class="input-container-with-border-radius-and-text-formatting-2 input-style-f62::placeholder" />
                                </div>
                                <!-- Button Component is detected here -->
                                <button class="action-button-2">Дія.Підпис</button>
                                <div class="action-panel-2">
                                    <div class="registration-box-2">
                                        <div class="svg-container-2">
                                            <svg viewBox="0 0 18 18" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Chevron" data-node-id="36:224" opacity="0.8" d="M14,1.5l-10,7.5l10,7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" /></svg>
                                        </div>
                                    </div>
                                    <div class="register-container-2">
                                        <p class="registration-title-2">Зареєструватися</p>
                                    </div>
                                </div>
                                <p class="message-box-2"><span class="ukraine-head-text">Якщо ти вже маєш акаунт то</span><span class="elegant-font"> </span><span class="ukraine-sign-in-text">увійди</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</body>

</html>