@font-face {
    font-family: 'e-Ukraine';
    src: url('/views/fonts/e-Ukraine_font/web/e-Ukraine-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/views/fonts/e-Ukraine_font/web/e-Ukraine-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/views/fonts/e-Ukraine_font/web/e-Ukraine-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/views/fonts/e-Ukraine_font/web/e-Ukraine-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'e-UkraineHead';
    src: url('/views/fonts/e-Ukraine_font/web/e-UkraineHead-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'e-UkraineHead';
    src: url('/views/fonts/e-Ukraine_font/web/e-UkraineHead-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'e-UkraineHead';
    src: url('/views/fonts/e-Ukraine_font/web/e-UkraineHead-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'e-UkraineHead';
    src: url('/views/fonts/e-Ukraine_font/web/e-UkraineHead-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body,
html {
    background: rgba(217, 217, 217, 1);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

div {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.silver-box-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 20px;
    /* Встановлено відступи по 20px */
}

.hero-section {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 16px 46px;
    margin-right: -8px;
    border-radius: 30px;
    height: 99%;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}

.flex-container-with-spacing {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
    padding-left: 14px;
}

.flex-row-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-container {
    box-sizing: border-box;
    display: block;
    width: 40px;
    max-width: initial;
    height: 40px;
}

.text-grouping-container {
    flex: 0 0 auto;
    margin-left: 7px;
    color: rgba(0, 0, 0, 1);
    white-space: pre-wrap;
}

.elegant-text {
    font: 400 22px e-UkraineHead;
    color: rgba(80, 68, 52, 1);
}

.navbar-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: flex-start;
}

.brand-link {
    flex: 0 0 auto;
    font: 400 16px e-UkraineHead;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
}

.button-primary-style {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 100px;
    min-width: 100px;
    height: 40px;
    margin-left: 29px;
    font: 400 16px e-UkraineHead;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: rgba(80, 68, 52, 1);
    border: none;
    border-radius: 20px;
}

.flex-row-with-gap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
    margin-top: 53px;
}

.search-platform-widget {
    flex: 0 0 auto;
    padding-top: 60px;
}

.search-missing-persons-platform {
    box-sizing: border-box;
    width: 100%;
    padding-right: 33px;
    padding-left: 33px;
}

.ukraine-headline-text-style {
    font: 400 40px e-UkraineHead;
    font-weight: normal;
    color: rgba(80, 68, 52, 1);
    text-align: left;
    white-space: pre-wrap;
}

.missing-person-coordination-platform {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 30px;
}

.ukraine-headline {
    box-sizing: border-box;
    max-width: 607px;
    font: 400 20px e-Ukraine;
    color: rgba(80, 68, 52, 0.6);
    text-align: left;
    white-space: pre-wrap;
}

.request-form-container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 33px;
    padding-left: 33px;
    margin-top: 100px;
}

.add-request-heading {
    font: 400 28px/32px e-UkraineHead;
    font: 400 20px e-Ukraine;
    white-space: pre-wrap;
}

.action-buttons-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
}

.person-search-button-container {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 39.79%;
}

.find-person-button {
    box-sizing: border-box;
    display: block;
    width: 249px;
    min-width: 249px;
    height: 52px;
    font: 400 24px e-Ukraine;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: rgba(80, 68, 52, 1);
    border: none;
    border-radius: 20px;
}

.button-container {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 60.21%;
    padding-right: 45px;
}

.add-person-button {
    box-sizing: border-box;
    display: block;
    width: 251px;
    min-width: 251px;
    height: 52px;
    font: 400 24px e-Ukraine;
    color: rgba(80, 68, 52, 1);
    cursor: pointer;
    background: transparent;
    border: 4px solid rgba(80, 68, 52, 1);
    border-radius: 20px;
}

.vertical-spacing113px {
    margin-top: 113px;
}

.image-container1 {
    box-sizing: border-box;
    display: block;
    width: 732px;
    max-width: initial;
    height: 126px;
    clip-path: undefined;
    border: none;
    mix-blend-mode: normal;
    object-fit: cover;
}

.search-platform-image {
    box-sizing: border-box;
    display: block;
    width: 539px;
    max-width: initial;
    height: 695px;
    clip-path: undefined;
    border: none;
    border-radius: 20px;
    mix-blend-mode: normal;
    object-fit: cover;
}

.statistics-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 27.12%;
}

.svg-container {
    display: flex;
    flex: 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;
}

.statistic-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 6.5rem;
    margin-left: 1.25rem;
}

.user-count-text-style {
    flex: 0 0 auto;
    font: 400 1.375rem e-Ukraine;
    color: rgba(0, 0, 0, 1);
    white-space: pre-wrap;
}

.ukraine-stats-text-style {
    flex: 0 0 auto;
    margin-top: 0.875rem;
    font: 400 1rem e-Ukraine;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
}

.ukraine-headline-2 {
    box-sizing: border-box;
    max-width: 607px;
    font: 400 1.375rem e-Ukraine;
    text-align: left;
    white-space: pre-wrap;
}

.statistic-info-widget {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 40.8%;
    padding-top: 1.21875rem;
    padding-right: 2.25rem;
}

.vertical-divider-with-text {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 0.0625rem;
    height: 3.9375rem;
    border-left: 1px solid black;
}

.user-count-container1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1.28125rem;
}

.user-count-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.3125rem;
}

.user-stats-text-style {
    flex: 0 0 auto;
    margin-top: 1rem;
    font: 400 1rem e-Ukraine;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
}

.stat-card-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 32.08%;
    padding-right: 2rem;
}

.center-flexbox-with-text {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1.09375rem;
}

.found-info-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.0625rem;
}

.ukraine-number-display-style {
    flex: 0 0 auto;
    font: 400 1.375rem e-Ukraine;
    color: rgba(0, 0, 0, 1);
    white-space: pre-wrap;
}

.hero-image-container {
    box-sizing: border-box;
    display: block;
    width: 33.6875rem;
    max-width: initial;
    height: 46.5625rem;
    clip-path: undefined;
    border: none;
    border-radius: 1.25rem;
    mix-blend-mode: normal;
    object-fit: cover;
}

.stat-card-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 3.6875rem;
    align-items: center;
    justify-content: flex-start;
    min-width: 42.5rem;
    height: 5.5rem;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    background: rgba(242, 243, 242, 1);
    border-radius: 5rem;
}

.flex-row-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.svg-container {
    display: flex;
    flex: 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;
}

.statistic-card {
    flex: 0 0 auto;
    margin-left: 1.25rem;
}

.statistic-heading {
    margin-top: 0.875rem;
    font: 400 1rem e-Ukraine;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
}

.data-card-group {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.vertical-divider-with-text {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 0.0625rem;
    height: 3.9375rem;
    border-left: 1px solid black;
}

.user-count-container1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.28125rem;
}

.user-count-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.3125rem;
}

.user-count-text-style {
    flex: 0 0 auto;
    font: 400 1.375rem e-UkraineHead;
    color: rgba(0, 0, 0, 1);
    white-space: pre-wrap;
}

.user-stats-text-style {
    flex: 0 0 auto;
    margin-top: 1rem;
    font: 400 1rem e-Ukraine;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
}

.found-text-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.09375rem;
}

.found-info-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.0625rem;
}

.ukraine-number-display-style {
    flex: 0 0 auto;
    font: 400 1.375rem e-Ukraine;
    color: rgba(0, 0, 0, 1);
    white-space: pre-wrap;
}

/* ----------------------REG-1--------------------- */

.registration-form-container1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 195px;
  }
  .registration-form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 378px;
  }
  .registration-title-text-style {
    flex: 0 0 auto;
    align-self: center;
    font: 200 35px e-Ukraine Head;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .flex-column-with-gap {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 21px;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 26px;
  }
  .flexbox-container {
    flex: 0 0 auto;
  }
  .elegant-input-style {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-left: 19px;
    font: 100 20px e-Ukraine Head;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .input-style-f62::placeholder {
    color: rgba(128, 128, 128, 1);
  }
  .select-button-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 378px;
    height: 44px;
    padding-right: 19px;
    padding-left: 20px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    font: 100 20px e-Ukraine Head;
    color: rgba(128, 128, 128, 1);
  }
  
  .select-button-container option {
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
  }
  .select-button-container select:focus::after {
    content: '';
    border: 2px solid #000000; /* Змініть колір на потрібний */
    border-radius: 5px; /* Змініть радіус на потрібний */
  }
  
  
  .confirm-button-style {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 378px;
    height: 44px;
    margin-top: 5px;
    font: 100 20px e-Ukraine Head;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: rgba(80, 68, 52, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .user-prompt-message {
    flex: 0 0 auto;
    align-self: center;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .brand-message-text-style {
    font: 100 17px e-Ukraine Head;
    color: rgba(128, 128, 128, 1);
  }
  .brand-accent-text-color {
    font: 400 17px e-Ukraine Head;
    color: rgba(80, 68, 52, 1);
  }


/* ----------------------REG-1-END-------------------- */

/* ----------------------REG-2--------------------- */

.registration-section-container-2 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 183px;
  }
  .registration-form-container-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 378px;
  }
  .registration-title-style-2 {
    flex: 0 0 auto;
    align-self: center;
    margin-left: 5px;
    font: 400 35px e-Ukraine Head;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .action-panel1-2 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 21px;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 26px;
  }
  .flexbox-container-2 {
    flex: 0 0 auto;
  }
  .input-container-with-border-radius-and-text-formatting-2 {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-left: 19px;
    font: 100 20px e-Ukraine Head;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .input-style-f62::placeholder {
    color: rgba(128, 128, 128, 1);
  }
  .action-button-2 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 378px;
    height: 44px;
    font: 700 25px/22px e-Ukraine;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    background: transparent;
    border: 2px solid;

  }
.action-button-2:hover,
.action-button-2:focus
{
    border: 3px solid;
    border-radius: 25px;
    border-image: linear-gradient(45deg, lightblue, orange)1;
    

}
  .action-panel-2 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 5px;
    background: rgba(80, 68, 52, 1);
    border-radius: 15px;
  }
  .registration-box-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 9.54%;
    padding-right: 15px;
  }
  .svg-container-2 {
    display: flex;
    width: 18px;
    height: 18px;
  }
  .register-container-2 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90.46%;
    padding-right: 28px;
  }
  .registration-title-2 {
    font: 100 20px e-Ukraine Head;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
  }
  .message-box-2 {
    flex: 0 0 auto;
    align-self: center;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .ukraine-head-text {
    font: 100 17px e-Ukraine Head;
    color: rgba(80, 68, 52, 0.6);
  }
  .elegant-font {
    font: 100 17px e-Ukraine Head;
  }
  .ukraine-sign-in-text {
    font: 400 17px e-Ukraine Head;
    color: #504434;
  }

/* ----------------------REG-2-END-------------------- */

/* --------------------- LOGIN ----------------------- */
.vertical-centered-box {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 251px;
  }
  .login-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 378px;
  }
  .login-title-text-style {
    flex: 0 0 auto;
    align-self: center;
    font: 400 35px e-Ukraine Head;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .login-section {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 21px;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 26px;
  }
  .hierarchical-text-container {
    flex: 0 0 auto;
  }
  .input-container-with-border-radius {
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    padding-left: 19px;
    font: 100 20px e-Ukraine Head;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .login-button-styled {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 378px;
    height: 44px;
    font: 400 20px e-Ukraine;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: rgba(80, 68, 52, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .forgot-password-prompt {
    box-sizing: border-box;
    flex: 0 0 auto;
    align-self: center;
    width: 212px;
    margin-top: -6px;
    font: 400 17px e-Ukraine;
    color: rgba(80, 68, 52, 1);
    text-align: center;
    white-space: pre-wrap;
  }
  .ukraine-bold-heading {
    font: 700 17px e-Ukraine;
    text-align: center;
  }

/* --------------------- LOGIN - END ----------------------- */

/* --------------------- FEEDBACK ----------------------- */
.contact-section {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 12px;
  }
  .contact-form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 666px;
  }
  .contact-title-text-style {
    flex: 0 0 auto;
    align-self: center;
    font: 500 45px e-Ukraine Head;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .message-container1 {
    flex: 0 0 auto;
    margin-top: 52px;
  }
  .message-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .hierarchical-container {
    flex: 1 1 0;
  }
  .input-container-with-border-radius-and-text-formatting {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-left: 19px;
    font: 100 20px e-Ukraine Head;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .input-style-f62::placeholder {
    color: rgba(128, 128, 128, 1);
  }
  .flex-grow-shrink-basis {
    flex: 1 1 0;
    margin-left: 40px;
  }
  .vertical-margin-container {
    box-sizing: border-box;
    width: 100%;
    margin-top: 38px;
  }
  .message-box {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 19px 170px;
    margin-top: 34px;
    font: 100 20px e-Ukraine Head;
    color: rgba(128, 128, 128, 1);
    white-space: pre-wrap;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  .send-button-style {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 666px;
    height: 44px;
    margin-top: 45px;
    font: 100 20px e-Ukraine Head;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: rgba(80, 68, 52, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    margin-bottom: 110px;
  }
  .address-section1 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    min-width: 461px;
    margin-top: 4px;
    margin-left: -57px;
  }
  .svg-container {
    display: flex;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
  }
  .address-label {
    flex: 0 0 auto;
    margin-left: 7px;
    font: 400 18px e-Ukraine;
    color: rgba(80, 68, 52, 1);
    white-space: pre-wrap;
  }
  .address-section {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .svg-container1 {
    display: flex;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    margin-left: 19px;
  }

/* --------------------- FEEDBACK - END ----------------------- */
@media screen and (max-width: 600px) {
    .silver-box-container,
    .hero-section {
        padding: 10px;
    }
    /* ... */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .silver-box-container,
    .hero-section {
        padding: 20px;
    }
    /* ... */
}